<a href="https://colab.research.google.com/github/WhackyBoyg0d/QuantMomentumTrading/blob/main/Momentum_Trading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Quantative Momentum Strategy**

Investing in stocks that have increased in price the most. 
50 stocks with the highest price momentum will be selected.

In [5]:
!pip install XlsxWriter

import pandas as pd
import numpy as np
import requests
import math
from scipy import stats
import xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting XlsxWriter
  Downloading XlsxWriter-3.1.2-py3-none-any.whl (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.0/153.0 kB 6.8 MB/s eta 0:00:00
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-3.1.2

In [6]:
from google.colab import files
files.upload()

Saving sp_500_stocks.csv to sp_500_stocks.csv

{'sp_500_stocks.csv': b'Ticker\r\nA\r\nAAL\r\nAAP\r\nAAPL\r\nABBV\r\nABC\r\nABMD\r\nABT\r\nACN\r\nADBE\r\nADI\r\nADM\r\nADP\r\nADSK\r\nAEE\r\nAEP\r\nAES\r\nAFL\r\nAIG\r\nAIV\r\nAIZ\r\nAJG\r\nAKAM\r\nALB\r\nALGN\r\nALK\r\nALL\r\nALLE\r\nALXN\r\nAMAT\r\nAMCR\r\nAMD\r\nAME\r\nAMGN\r\nAMP\r\nAMT\r\nAMZN\r\nANET\r\nANSS\r\nANTM\r\nAON\r\nAOS\r\nAPA\r\nAPD\r\nAPH\r\nAPTV\r\nARE\r\nATO\r\nATVI\r\nAVB\r\nAVGO\r\nAVY\r\nAWK\r\nAXP\r\nAZO\r\nBA\r\nBAC\r\nBAX\r\nBBY\r\nBDX\r\nBEN\r\nBF.B\r\nBIIB\r\nBIO\r\nBK\r\nBKNG\r\nBKR\r\nBLK\r\nBLL\r\nBMY\r\nBR\r\nBRK.B\r\nBSX\r\nBWA\r\nBXP\r\nC\r\nCAG\r\nCAH\r\nCARR\r\nCAT\r\nCB\r\nCBOE\r\nCBRE\r\nCCI\r\nCCL\r\nCDNS\r\nCDW\r\nCE\r\nCERN\r\nCF\r\nCFG\r\nCHD\r\nCHRW\r\nCHTR\r\nCI\r\nCINF\r\nCL\r\nCLX\r\nCMA\r\nCMCSA\r\nCME\r\nCMG\r\nCMI\r\nCMS\r\nCNC\r\nCNP\r\nCOF\r\nCOG\r\nCOO\r\nCOP\r\nCOST\r\nCOTY\r\nCPB\r\nCPRT\r\nCRM\r\nCSCO\r\nCSX\r\nCTAS\r\nCTL\r\nCTSH\r\nCTVA\r\nCTXS\r\nCVS\r\nCVX\r\nCXO\r\nD\r\nDAL\r\nDD\r\nDE\r\nDFS\r\nDG\r\nDGX\r\nDHI\r\nDHR\r\nDIS\r\nDISCA\r\nDISCK\r\nDISH\r\nDLR\r\nDLTR\r\nDOV\r\nDOW\r\nDPZ\r\nDRE\r\nDRI\r\nDTE\r\nDUK\r\nDVA\r\nDVN\r\nDXC\r\nDXCM\r\nEA\r\nEBAY\r\nECL\r\nED\r\nEFX\r\nEIX\r\nEL\r\nEMN\r\nEMR\r\nEOG\r\nEQIX\r\nEQR\r\nES\r\nESS\r\nETFC\r\nETN\r\nETR\r\nEVRG\r\nEW\r\nEXC\r\nEXPD\r\nEXPE\r\nEXR\r\nF\r\nFANG\r\nFAST\r\nFB\r\nFBHS\r\nFCX\r\nFDX\r\nFE\r\nFFIV\r\nFIS\r\nFISV\r\nFITB\r\nFLIR\r\nFLS\r\nFLT\r\nFMC\r\nFOX\r\nFOXA\r\nFRC\r\nFRT\r\nFTI\r\nFTNT\r\nFTV\r\nGD\r\nGE\r\nGILD\r\nGIS\r\nGL\r\nGLW\r\nGM\r\nGOOG\r\nGOOGL\r\nGPC\r\nGPN\r\nGPS\r\nGRMN\r\nGS\r\nGWW\r\nHAL\r\nHAS\r\nHBAN\r\nHBI\r\nHCA\r\nHD\r\nHES\r\nHFC\r\nHIG\r\nHII\r\nHLT\r\nHOLX\r\nHON\r\nHPE\r\nHPQ\r\nHRB\r\nHRL\r\nHSIC\r\nHST\r\nHSY\r\nHUM\r\nHWM\r\nIBM\r\nICE\r\nIDXX\r\nIEX\r\nIFF\r\nILMN\r\nINCY\r\nINFO\r\nINTC\r\nINTU\r\nIP\r\nIPG\r\nIPGP\r\nIQV\r\nIR\r\nIRM\r\nISRG\r\nIT\r\nITW\r\nIVZ\r\nJ\r\nJBHT\r\nJCI\r\nJKHY\r\nJNJ\r\nJNPR\r\nJPM\r\nK\r\nKEY\r\nKEYS\r\nKHC\r\nKIM\r\nKLAC\r\nKMB\r\nKMI\r\nKMX\r\nKO\r\nKR\r\nKSS\r\nKSU\r\nL\r\nLB\r\nLDOS\r\nLEG\r\nLEN\r\nLH\r\nLHX\r\nLIN\r\nLKQ\r\nLLY\r\nLMT\r\nLNC\r\nLNT\r\nLOW\r\nLRCX\r\nLUV\r\nLVS\r\nLW\r\nLYB\r\nLYV\r\nMA\r\nMAA\r\nMAR\r\nMAS\r\nMCD\r\nMCHP\r\nMCK\r\nMCO\r\nMDLZ\r\nMDT\r\nMET\r\nMGM\r\nMHK\r\nMKC\r\nMKTX\r\nMLM\r\nMMC\r\nMMM\r\nMNST\r\nMO\r\nMOS\r\nMPC\r\nMRK\r\nMRO\r\nMS\r\nMSCI\r\nMSFT\r\nMSI\r\nMTB\r\nMTD\r\nMU\r\nMXIM\r\nMYL\r\nNBL\r\nNCLH\r\nNDAQ\r\nNEE\r\nNEM\r\nNFLX\r\nNI\r\nNKE\r\nNLOK\r\nNLSN\r\nNOC\r\nNOV\r\nNOW\r\nNRG\r\nNSC\r\nNTAP\r\nNTRS\r\nNUE\r\nNVDA\r\nNVR\r\nNWL\r\nNWS\r\nNWSA\r\nO\r\nODFL\r\nOKE\r\nOMC\r\nORCL\r\nORLY\r\nOTIS\r\nOXY\r\nPAYC\r\nPAYX\r\nPBCT\r\nPCAR\r\nPEAK\r\nPEG\r\nPEP\r\nPFE\r\nPFG\r\nPG\r\nPGR\r\nPH\r\nPHM\r\nPKG\r\nPKI\r\nPLD\r\nPM\r\nPNC\r\nPNR\r\nPNW\r\nPPG\r\nPPL\r\nPRGO\r\nPRU\r\nPSA\r\nPSX\r\nPVH\r\nPWR\r\nPXD\r\nPYPL\r\nQCOM\r\nQRVO\r\nRCL\r\nRE\r\nREG\r\nREGN\r\nRF\r\nRHI\r\nRJF\r\nRL\r\nRMD\r\nROK\r\nROL\r\nROP\r\nROST\r\nRSG\r\nRTX\r\nSBAC\r\nSBUX\r\nSCHW\r\nSEE\r\nSHW\r\nSIVB\r\nSJM\r\nSLB\r\nSLG\r\nSNA\r\nSNPS\r\nSO\r\nSPG\r\nSPGI\r\nSRE\r\nSTE\r\nSTT\r\nSTX\r\nSTZ\r\nSWK\r\nSWKS\r\nSYF\r\nSYK\r\nSYY\r\nT\r\nTAP\r\nTDG\r\nTDY\r\nTEL\r\nTFC\r\nTFX\r\nTGT\r\nTIF\r\nTJX\r\nTMO\r\nTMUS\r\nTPR\r\nTROW\r\nTRV\r\nTSCO\r\nTSN\r\nTT\r\nTTWO\r\nTWTR\r\nTXN\r\nTXT\r\nTYL\r\nUA\r\nUAA\r\nUAL\r\nUDR\r\nUHS\r\nULTA\r\nUNH\r\nUNM\r\nUNP\r\nUPS\r\nURI\r\nUSB\r\nV\r\nVAR\r\nVFC\r\nVIAC\r\nVLO\r\nVMC\r\nVNO\r\nVRSK\r\nVRSN\r\nVRTX\r\nVTR\r\nVZ\r\nWAB\r\nWAT\r\nWBA\r\nWDC\r\nWEC\r\nWELL\r\nWFC\r\nWHR\r\nWLTW\r\nWM\r\nWMB\r\nWMT\r\nWRB\r\nWRK\r\nWST\r\nWU\r\nWY\r\nWYNN\r\nXEL\r\nXLNX\r\nXOM\r\nXRAY\r\nXRX\r\nXYL\r\nYUM\r\nZBH\r\nZBRA\r\nZION\r\nZTS'}

In [7]:
# Importing list of stocks

stocks = pd.read_csv('sp_500_stocks.csv')

In [8]:
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [9]:
stocks.head()

  Ticker
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV

In [11]:
# Testing if the API is working
IEX_CLOUD_API_TOKEN = 'sk_78880833672e4010b46b8e989493af76'
symbol = 'AAPL'
api_url = f'https://cloud.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'

data = requests.get(api_url)
print(data.json())

{'companyName': 'Apple Inc', 'marketcap': 2846108626900, 'week52high': 181.78, 'week52low': 123.64, 'week52highSplitAdjustOnly': 181.78, 'week52lowSplitAdjustOnly': 124.17, 'week52change': 0.25541591072289593, 'sharesOutstanding': 15728702000, 'float': 0, 'avg10Volume': 71622103, 'avg30Volume': 54752734, 'day200MovingAvg': 152.8, 'day50MovingAvg': 171, 'employees': 164000, 'ttmEPS': 5.88, 'ttmDividendRate': 0.9264396314120724, 'dividendYield': 0.005119865329715792, 'nextDividendDate': '', 'exDividendDate': '2023-05-12', 'nextEarningsDate': '2023-08-03', 'peRatio': 30.17470793248587, 'beta': 0, 'maxChangePercent': 69.44967880085653, 'year5ChangePercent': 2.9585830919607616, 'year2ChangePercent': 0.45805953588663617, 'year1ChangePercent': 0.25541591072289593, 'ytdChangePercent': 0.39866031607636176, 'month6ChangePercent': 0.23102188763038975, 'month3ChangePercent': 0.2014227182097705, 'month1ChangePercent': 0.09446248555182502, 'day30ChangePercent': 0.0454050706334479, 'day5ChangePercent': 0.03146554181154859}

In [12]:
# Parsing the call
data = data.json()
data['year1ChangePercent']

0.25541591072289593

In [13]:
# Executing batch API call and building DataFrame

def chunks(lst, n):
    """Yield succesive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [14]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = [ 'Ticker', 'Stock Price', 'One-Year Price Return', 'Number of Shares to Buy']

final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings[:1]:
    batch_api_call_url =  f'https://cloud.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()

    for symbol in symbol_string.split(','):
        s1 = pd.Series(
            [
                symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['stats']['year1ChangePercent'],
                'N/A'
            ], index = my_columns)
        final_dataframe = final_dataframe.append(s1, 
                                                ignore_index=True)
final_dataframe

<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,
<ipython-input-14-3074aee3cbfb>:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(s1,

   Ticker  Stock Price  One-Year Price Return Number of Shares to Buy
0       A       118.22              -0.073820                     N/A
1     AAL        14.87              -0.083231                     N/A
2     AAP        67.56              -0.631121                     N/A
3    AAPL       180.95               0.255416                     N/A
4    ABBV       136.87              -0.033916                     N/A
..    ...          ...                    ...                     ...
95   CINF       100.58              -0.182675                     N/A
96     CL        76.05              -0.011808                     N/A
97    CLX       161.37               0.199761                     N/A
98    CMA        40.93              -0.477837                     N/A
99  CMCSA        39.19              -0.064785                     N/A

[100 rows x 4 columns]

In [15]:
# Removing Low-Momentum stocks

final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe_top = final_dataframe[:50]
final_dataframe_top.reset_index(inplace = True)
final_dataframe_top

    index Ticker  Stock Price  One-Year Price Return Number of Shares to Buy
0      77    CAH        84.59               0.618960                     N/A
1      37   ANET       162.50               0.575070                     N/A
2      55     BA       213.32               0.531921                     N/A
3      62   BIIB       300.20               0.496361                     N/A
4      50   AVGO       812.00               0.476218                     N/A
5      85   CDNS       229.69               0.448600                     N/A
6      19    AIV         8.66               0.386399                     N/A
7      72    BSX        51.82               0.298421                     N/A
8      21    AJG       205.68               0.282088                     N/A
9      39   ANTM       482.58               0.281524                     N/A
10      3   AAPL       180.95               0.255416                     N/A
11     38   ANSS       325.00               0.254632                     N/A
12     32    AME       150.68               0.239433                     N/A
13     73    BWA        47.68               0.232255                     N/A
14      5    ABC       174.52               0.205215                     N/A
15     81   CBOE       135.18               0.200159                     N/A
16     97    CLX       161.37               0.199761                     N/A
17     29   AMAT       134.63               0.185802                     N/A
18     40    AON       313.80               0.177124                     N/A
19     34    AMP       313.20               0.174075                     N/A
20     17    AFL        66.60               0.160463                     N/A
21     54    AZO      2381.23               0.157038                     N/A
22     41    AOS        68.41               0.146989                     N/A
23     43    APD       281.04               0.142465                     N/A
24     76    CAG        35.13               0.138514                     N/A
25     65   BKNG      2625.65               0.124057                     N/A
26     78   CARR        43.44               0.116434                     N/A
27     10    ADI       179.80               0.113924                     N/A
28     31    AMD       117.86               0.108749                     N/A
29     44    APH        77.57               0.106938                     N/A
30     24   ALGN       302.00               0.103801                     N/A
31     91    CHD        93.81               0.070578                     N/A
32     70     BR       153.25               0.068060                     N/A
33     71  BRK.B       329.48               0.059626                     N/A
34     79    CAT       226.63               0.041203                     N/A
35      8    ACN       311.39               0.037576                     N/A
36     48   ATVI        80.50               0.033509                     N/A
37     67    BLK       681.86               0.029467                     N/A
38     53    AXP       168.56               0.025335                     N/A
39     94     CI       257.03               0.024314                     N/A
40     36   AMZN       124.26               0.015529                     N/A
41      9   ADBE       436.37               0.015381                     N/A
42     59    BDX       251.79               0.012211                     N/A
43     86    CDW       174.22               0.007883                     N/A
44     47    ATO       114.52               0.004741                     N/A
45     12    ADP       216.52               0.000501                     N/A
46      6   ABMD       381.02               0.000000                     N/A
47     28   ALXN       182.50               0.000000                     N/A
48     88   CERN        94.92               0.000000                     N/A
49     27   ALLE       109.27              -0.003287                     N/A

In [16]:
for i in range(len(final_dataframe)):
  if(final_dataframe.iloc[i]["Ticker"]=="ANET"):
    print(final_dataframe.iloc[i])

Ticker                        ANET
Stock Price                  162.5
One-Year Price Return      0.57507
Number of Shares to Buy        N/A
Name: 37, dtype: object

In [17]:
# Calculating the Number of Shares to Buy

def portfolio_input():
  global portfolio_size
  portfolio_size = input("Enter the size of portfolio")
  try:
    val = float(portfolio_size)
  except ValueError:
    print('Please enter an integer')
    portfolio_size = float(input('Enter Value of Your portfolio: '))

portfolio_input()
print(portfolio_size)

Enter the size of portfolio
Please enter an integer
Enter Value of Your portfolio: 1000000
1000000.0

In [20]:
position_size = float(portfolio_size)/len(final_dataframe_top.index)
print(position_size)
for i in range(0, len(final_dataframe_top.index)):
    final_dataframe_top.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe_top.loc[i, 'Stock Price'])
    
final_dataframe_top

20000.0

    index Ticker  Stock Price  One-Year Price Return Number of Shares to Buy
0      77    CAH        84.59               0.618960                     236
1      37   ANET       162.50               0.575070                     123
2      55     BA       213.32               0.531921                      93
3      62   BIIB       300.20               0.496361                      66
4      50   AVGO       812.00               0.476218                      24
5      85   CDNS       229.69               0.448600                      87
6      19    AIV         8.66               0.386399                    2309
7      72    BSX        51.82               0.298421                     385
8      21    AJG       205.68               0.282088                      97
9      39   ANTM       482.58               0.281524                      41
10      3   AAPL       180.95               0.255416                     110
11     38   ANSS       325.00               0.254632                      61
12     32    AME       150.68               0.239433                     132
13     73    BWA        47.68               0.232255                     419
14      5    ABC       174.52               0.205215                     114
15     81   CBOE       135.18               0.200159                     147
16     97    CLX       161.37               0.199761                     123
17     29   AMAT       134.63               0.185802                     148
18     40    AON       313.80               0.177124                      63
19     34    AMP       313.20               0.174075                      63
20     17    AFL        66.60               0.160463                     300
21     54    AZO      2381.23               0.157038                       8
22     41    AOS        68.41               0.146989                     292
23     43    APD       281.04               0.142465                      71
24     76    CAG        35.13               0.138514                     569
25     65   BKNG      2625.65               0.124057                       7
26     78   CARR        43.44               0.116434                     460
27     10    ADI       179.80               0.113924                     111
28     31    AMD       117.86               0.108749                     169
29     44    APH        77.57               0.106938                     257
30     24   ALGN       302.00               0.103801                      66
31     91    CHD        93.81               0.070578                     213
32     70     BR       153.25               0.068060                     130
33     71  BRK.B       329.48               0.059626                      60
34     79    CAT       226.63               0.041203                      88
35      8    ACN       311.39               0.037576                      64
36     48   ATVI        80.50               0.033509                     248
37     67    BLK       681.86               0.029467                      29
38     53    AXP       168.56               0.025335                     118
39     94     CI       257.03               0.024314                      77
40     36   AMZN       124.26               0.015529                     160
41      9   ADBE       436.37               0.015381                      45
42     59    BDX       251.79               0.012211                      79
43     86    CDW       174.22               0.007883                     114
44     47    ATO       114.52               0.004741                     174
45     12    ADP       216.52               0.000501                      92
46      6   ABMD       381.02               0.000000                      52
47     28   ALXN       182.50               0.000000                     109
48     88   CERN        94.92               0.000000                     210
49     27   ALLE       109.27              -0.003287                     183